<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>stocks</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/app.29d750e5f417ec0aa91c88e5673ecd83.css" rel="stylesheet">
</head>

<body>
    <div id="app"></div>
    <script type="text/javascript" src="/js/manifest.fa1e30e6dddc77627346.js"></script>
    <script type="text/javascript" src="/js/vendor.21b2d17c52aba83f91b3.js"></script>
    <script type="text/javascript" src="/js/app.28d9c06afd69310c4f16.js"></script>
</body>

</html>
